{
  "tabWidth": 4,
  "trailingComma": "es5",
  "semi": true,
  "printWidth": 100,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps":"consistent",
  "bracketSpacing": true,
  "arrowParens": "always"
}
